<html lang="en">
    <head>
        <title>5 Page Website</title>
         <!-- for font icons -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin:0">
    
    <!-- Start Header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f3971b" class="header">
  <tr>
  	 <td>
  	 	<table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
           <tr>
           	   <td>
           	   	  <font face="arial" color="black" size="5">
					  <img src="../static/images/asanalogo.png" width="15%" alt="logo">
           	      </font>
           	   </td>
           	   <td width="30%">&nbsp;</td>
           	   <td><a href="/">
           	   	  <font face="arial" color="#ffffff" size="3">
           	       Home
           	     </font></a>
           	   </td>
           	   <td><a href="/about">
           	   	  	 <font face="arial" color="#ffffff" size="3">
           	         About
           	        </font></a>
           	    </td>

           	   <td><a href="/course">
           	   	 <font face="arial" color="#ffffff" size="3">
           	      Courses
           	  </font></a>
           	  </td>
           	   <td><a href="/gallery">
           	   	<font face="arial" color="#ffffff" size="3">
           	    Gallery
           	    </font></a>
               </td>
           	   <td><a href="/contact">
           	   	<font face="arial" color="#ffffff" size="3">
           	   Contact
           	    </font></a>
           	   </td>
           </tr>
  	 	</table>
  	 </td>
  </tr>
</table>
    <!-- End Header -->
    
    <!-- Start About sachin -->
    <table border="0" id="about" width="100%" cellpadding="0" cellspacing="0" bgcolor="#353535">
        <tr>
             <td>
                 <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
                     <!-- Heading Start-->
                 <tr>
                       <td height="160" align="center" valign="middle" colspan="2">
                            <font face="arial" size="6" color=" #f3971b">
                              About
                           </font>
                           <hr width="70" color="#f3971b">
                       </td>
                 </tr>
                 
                 <!-- Heading  End-->
                 <tr>
                        <td width="35%">
                              <img src="../static/images/tech.png" width="105%" height="200%" alt="me" />
                        </td>
                        <td width="65%" valign="top">
                              <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                         <td height="40">
                                             <font face="arial" size="4" color=" #ffffff">
                                             The ICFAI Foundation for Higher Education
                                            </font>
                                         </td>
                                    </tr>
                                    <tr>
                                         <td>
                                             <font face="arial" size="5" color=" #ffffff">
                                             
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                <font face="arial" size="3" color="#c2c0c3">
                                                    The ICFAI Foundation for Higher Education is a deemed-to-be-University established under section 3 of UGC Act, 1956.
                                                    IFHE’s comprehensive student-centric learning approach provides relevant knowledge, imparts practical skills and inculcates a positive attitude among the students.
                                                    Today, IFHE is one of the largest multi-disciplinary universities in the country.
                                                    The Faculty of Management, Faculty of Science and Technology and Faculty of Law are the three main building blocks of the university.
                                                    IFHE has been permitted by the Ministry of Education, Government of India, to start an Off-Campus Centre at Bangalore, Karnataka.
                                                    The University is a member of :
                                                    
                                                    Association of Indian Universities (AIU).
                                                    Association of Commonwealth Universities (ACU).
                                                    IFHE has put in place world class processes for governance, academic excellence, industry interface and student centricity. Some of the best minds in the country are closely associated with the running and oversight of IFHE.
                                                    
                                                    
                                            </font>
                                            </p>
                                            <p>
                                                <font face="arial" size="3" color="#c2c0c3">
                                                    Going forward, the focus areas of the club are:
                                                    
                                                    To offer students the best and updated curriculum and train them for rewarding careers.
                                                    To promote a culture of research that advances knowledge in the field of management, technology and law.
                                                    To collaborate with the industry and be relevant to their needs.
                                                    To partner with the government and various government bodies for nation building.
                                            </font>
                                            </p>
                                            <hr noshade>
                                            <br/>
                
                                        </td>
                                    </tr>
                              </table>  
                        </td>
                 </tr>
                <!-- section padding bottom -->
                 <tr>
                       <td height="60" colspan="2">
                       
                       </td>
                 </tr>
                <!-- section padding bottom End-->
              </table>
            </td>
         </tr>
      </table>
      <!-- End About -->
    
    
    
<!-- Start Courses -->
<table border="0" id="portfolio" width="100%" cellpadding="0" cellspacing="0" bgcolor="#292929">
    <tr>
         <td>
             <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
             <!-- Heading Start-->
            <tr>
                   <td height="160" align="center" valign="middle" colspan="3">
                        <font face="arial" size="6" color=" #f3971b">
                          Courses
                       </font>
                       <hr width="70" color="#f3971b">
                   </td>
            </tr>
          <!-- Heading  End-->
           <tr>
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                            Passing the Parsel
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             A musical Game
                            </font>
                            <br/><br/>
                         <img src="../static/images/parsel.png" width="95%" length="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
               
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                             Tug of War
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             Fun game
                            </font>
                            <br/><br/>
                         <img src="../static/images/rope.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
  
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                             Virtual Debate
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             Online debate competition during Covid
                            </font>
                            <br/><br/>
                         <img src="../static/images/debate.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
           </tr>
            <tr>
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                             Management
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             MBA
                            </font>
                            <br/><br/>
                         <img src="../static/images/c1.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
               
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                            Weight Lifting
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             Event on Yoga day
                            </font>
                            <br/><br/>
                         <img src="../static/images/weight.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
  
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                             <font face="arial" size="5" color="#ffffff">
                            Doctoral Programs
                            </font>
                            <br/>
                            <br/>
                            <font face="arial" size="4" color="#f3971b">
                             Ph.D
                            </font>
                            <br/><br/>
                         <img src="../static/images/c6.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
           </tr>
          <!-- section padding bottom -->
             <tr>
                   <td height="60" colspan="3">
                   
                   </td>
             </tr>
            <!-- section padding bottom End-->
         </table>
       </td>
     </tr>
  </table>
  <!-- End Courses -->
</body>

</html>