<html lang="en">
    <head>
        <title>5 Page Website</title>
         <!-- for font icons -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
     
    <body style="margin:0">
    
    <!-- Start Header -->
  <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f3971b" class="header">
  <tr>
  	 <td>
  	 	<table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
           <tr>
           	   <td>
           	   	  <font face="arial" color="black" size="5">
					  <img src="../static/images/asanalogo.png" width="15%" alt="logo">
           	      </font>
           	   </td>
           	   <td width="30%">&nbsp;</td>
           	   <td><a href="/">
           	   	  <font face="arial" color="#ffffff" size="3">
           	       Home
           	     </font></a>
           	   </td>
           	   <td><a href="/about">
           	   	  	 <font face="arial" color="#ffffff" size="3">
           	         About
           	        </font></a>
           	    </td>

           	   <td><a href="/course">
           	   	 <font face="arial" color="#ffffff" size="3">
           	      Courses
           	  </font></a>
           	  </td>
           	   <td><a href="/gallery">
           	   	<font face="arial" color="#ffffff" size="3">
           	    Gallery
           	    </font></a>
               </td>
           	   <td><a href="/contact">
           	   	<font face="arial" color="#ffffff" size="3">
           	   Contact
           	    </font></a>
           	   </td>
           </tr>
  	 	</table>
  	 </td>
  </tr>
</table>
    <!-- End Header -->

<!-- Start gallery -->
<table border="0" id="portfolio" width="100%" cellpadding="0" cellspacing="0" bgcolor="#292929">
    <tr>
         <td>
             <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
             <!-- Heading Start-->
            <tr>
                   <td height="160" align="center" valign="middle" colspan="3">
                        <font face="arial" size="6" color=" #f3971b">
                          Gallery
                       </font>
                       <hr width="70" color="#f3971b">
                   </td>
            </tr>
          <!-- Heading  End-->
           <tr>
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                  
                         <img src="../static/images/i3.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
               
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                
                         <img src="../static/images/i1.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
  
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                          
                         <img src="../static/images/i2.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
           </tr>
            <tr>
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                    
                         <img src="../static/images/c12.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
               
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                       
                         <img src="../static/images/c13.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
  
               <td width="33.33%" valign="top">
                 <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center" bgcolor="#353535">
                     <tr>
                         <td>
                        
                         <img src="../static/images/c14.png" width="100%"/>
                         </td>
                     </tr>
                 </table>	
               </td>
           </tr>
          <!-- section padding bottom -->
             <tr>
                   <td height="60" colspan="3">
                   
                   </td>
             </tr>
            <!-- section padding bottom End-->
         </table>
       </td>
     </tr>
  </table>
  <!-- End gallery -->
  
</body>
</html>